<div class="header">
    <h1>Monsters</h1>
    <div class="searchbar">
        <input type="text" id="searchBox">
        <input type="button" onclick="searchMonster();" value="Search">
    </div>
</div>

<table>
    <tr id="header">
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Weaknesses</th>
        <th>Element</th>
        <th>Rank</th>
        <th>Tail Severable?</th>
    </tr>

    <% @monsters.each do |monster| %>
    <tr id="<%= monster.name.downcase %>">
        <td><%= image_tag monster.picture, style: "width: 50px; height: 50px" %> </td>
        <td><%= monster.name %></td>
        <td><%= monster.description %></td>
        <td><%= monster.monster_type %></td>

        <td><% monster.weaknesses.each do |weakness| %>
            <%= image_tag "icons/#{weakness.downcase}.png", style: "width: 20px; height: 20px" %>
        <% end %></td>

        <% if monster.element.nil? %>
            <td>✖</td>
        <% else %>
            <td><%= image_tag "icons/#{monster.element.downcase}.png", style: "width: 20px; height: 20px" %></td>
        <% end %>

        <td style="font-size:10px"><% (0...monster.rank).each do %>★<% end %></td>

        <% if monster.tail_severable %>
            <td>✔</td>
        <% else %>
            <td>✖</td>
        <% end %>
    </tr>
    <% end %>

</table>

<script>
    const tableRows = Array.from(document.getElementsByTagName("tr"));
    tableRows.shift(); /* To remove the header from the list */

    const searchBox = document.getElementById('searchBox');
    searchBox.addEventListener('keypress', function(event) {
        if (event.key == "Enter") {
            searchMonster();
        }
    });

    function searchMonster() {
        const searchQuery = searchBox.value.trim().toLowerCase();

        if (searchQuery == "") {
            tableRows.forEach(element => {
                element.style.display = "table-row";
            });
        } else {
            tableRows.forEach(element => {
                if (element.id == searchQuery) {
                    element.style.display = "table-row"; 
                } else {
                    element.style.display = "none"; 
                }
            });
        }
    }
</script>